server:
  port: 8888

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name : com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: admin
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: true

  cache:
    type: simple
    cache-names: daily-popular
    simple:
      cache-name-configs:
        products:
          time-to-live: 86400000 # 24시간

logging:
  level:
    org.springframework: DEBUG
    org.hibernate: DEBUG