<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 스프링 부트 기본 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 애플리케이션 이름 설정 -->
    <property name="APP-NAME" value="project" />

    <!-- AWS 로그 appender 설정 -->
    <appender name="ASYNC_AWS_LOGS_ERROR" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <layout>
            <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
        </layout>
        <logGroupName>health-check-error</logGroupName>
        <logStreamUuidPrefix>error-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
    </appender>

    <appender name="ASYNC_AWS_LOGS_INFO" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
        </layout>
        <logGroupName>health-check-info</logGroupName>
        <logStreamUuidPrefix>info-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
    </appender>

    <!-- 콘솔 appender 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[${APP-NAME}] [%thread] [%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- JDBC 및 log4j 로거 설정 -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="log4jdbc.log4j2" level="OFF"/>

    <!-- 로거 설정, 여기서 로그 레벨에 따라 AWS 로그 appender를 구분합니다 -->
    <root level="ERROR">
        <appender-ref ref="ASYNC_AWS_LOGS_ERROR" />
        <appender-ref ref="STDOUT" />
    </root>

    <root level="INFO">
        <appender-ref ref="ASYNC_AWS_LOGS_INFO" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>